*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    align-items: center;

}
nav li{
    list-style: none;
    margin: 20px;
    
}

nav ul{
    display: flex;
    align-items: center;
    
    
}

.nav-title{
    font-size: 45px;
    font-style: normal;
}

.text-color{
    color: rgb(236, 55, 9);
}

.btn-primary{
    width: 200px;
    height: 64px;
border: 0;
margin: 18px 25px;
border-radius: 5px;
background: #FD6E0A;
color: var(--white-color, #FFF);
font-family: Open Sans;
font-size: 20px;

}

.header{
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png') , url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right , left;
    
}

/* banner style */
.banner{
    margin: 0 100px;
    display: flex;
    align-items: center;
}

.banner-sub-title{
    color: var(--dark-02, #474747);
    
font-size: 45px;

font-weight: 600;

}
.banner-title{
    font-size: 85px;
    font-weight: 600;
    
}
.banner-des{
    
    color: var(--dark-03, #757575);
    margin-top: 20px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section style */
.about-me{
    margin-top: 130px;
    border-radius: 10px;
background: #FFF8F3;
padding: 106px 159px;
text-align: center;

}
.section-title{
    color: var(--dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 100px;

}
.section-des{
    color: var(--dark-03, #757575);
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
margin-top: 10px;
margin-bottom: 30px;
} 

.about-info-cointainer{
   display: flex;
   justify-content: space-around;
}

.info-title{
  
color: var(--dark-03, #757575);

font-size: 20px;
}

.info-des{
    color: var(--dark-02, #474747);
    
    font-size: 20px;
   
    font-weight: 700;
    
}

/* what i do Style */

.what-do{
    margin-top: 130px;
    background: #FFF8F3;
    padding: 16px 159px;
    margin-bottom: 100px;

}

.skills-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    
}
.skills{
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
padding: 15px;

}

.skill-title{
    font-size: 20px;
font-style: normal;
font-weight: 700;
margin-top: 30px;
margin-bottom: 20px;
}
.skill-des{
    color: var(--dark-03, #757575);

font-size: 16px;

font-weight: 400;
}

/* Resume secton */
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}


.resume .resume-content{
    display: flex;
}

.resume .resume-title{

    color: var(--dark-02, #474747);

font-size: 25px;

font-weight: 700;
}

.resume .title{
    color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 25px;
font-style: normal;
font-weight: 700;
margin-bottom: 10px;
}

.resume .sub-title{
    color: var(--dark-03, #757575);

    font-size: 20px;
   
    font-weight: 600;
    margin-bottom: 8px;
}

.resume .resume-body{
    color: var(--dark-03, #757575);
    
    font-size: 16px;
    
    font-weight: 400;
}

.down-button{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 60px;
}

/* footer section style */
.footer{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 60px;
    gap: 107px;
    background: #e7e4e1;
    padding: 150px 150px;
}

.footer-title{
    color: var(--dark-01, #181818);


font-size: 35px;
font-style: normal;
font-weight: 700;
margin-bottom: 30px;
}

.footer-des{
    color: var(--dark-02, #474747);

font-size: 16px;

font-weight: 400;

margin-bottom: 15px;
width: 562px;
}

/* form style */
.form{
    width: 100%;
height: 44px;
border-radius: 5px;
background: var(--white-color, #FFF);
margin-bottom: 15px;
width: 100%;
}

textarea{
    width: 100%;
}